@use "../abstracts";

.article {
  position: relative;
  padding: 50px;
  width: 320px;
  height: 440px;
  background-color: abstracts.$color-white;
  @include abstracts.flexbox-layout(
    $direction: column,
    $justify: flex-start,
    $align: flex-start
  );
  gap: 30px;

  transition: all 1s ease;

  .article__btn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    transition: all 1s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: abstracts.$color-blue;

    h3 {
      color: abstracts.$color-white;
    }

    p {
      color: abstracts.$color-grey;
    }

    .article__btn {
      background-color: abstracts.$color-green;
      border-color: abstracts.$color-green;
    }

    .article__icon--default {
      opacity: 0;
    }
    .article__icon--hover {
      opacity: 1;
    }
  }

  h3 {
    margin: 0;
    color: abstracts.$color-blue;
    font-size: 22px;
  }

  p {
    color: abstracts.$color-pale-grey;
  }
}
