@use "../abstracts";

.header__nav-hambtn {
  display: none;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border: 2px solid abstracts.$color-grey;

  span {
    display: block;
    width: 30px;
    height: 30px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.footer__form-btn {
  border: 1px solid abstracts.$color-green;
  height: 38px;
  padding: 0 12px;
  color: abstracts.$color-blue;
  background-color: abstracts.$color-green;
  font-weight: 600;
  cursor: pointer;

  @include abstracts.flexbox-layout(
    $direction: row,
    $justify: center,
    $align: center
  );
  transition: all 1s ease;

  &:hover {
    color: abstracts.$color-green;
    background-color: abstracts.$color-blue;
  }
}
