@use "../abstracts";

span.hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

a.footer__logo {
  display: block;
  width: auto;
  height: 100%;

  img {
    display: block;
    width: auto;
    height: 100%;
  }
}

.footer__subscribe-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: abstracts.$color-white;
  @include abstracts.flexbox-layout($justify: center, $align: center);

  img {
    width: 10px;
    height: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.article__icon {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;

  &--default,
  &--hover {
    transition: opacity 1s ease;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }

  &--hover {
    opacity: 0;
  }
}
